*{
    margin: 0;
    padding: 0;
    
}

.nav-container{ 
    height: 60px;
    width: 100%;
     padding: 10px 20px;
     display: flex;
    
     justify-content:space-around;
    align-items: center;
    background-color: #ffffff;
   
   

}
.nav-menu{
    display: flex;
    gap: 20px;
    list-style: none;
    
   
}
nav a{
    text-decoration: none;
    color: #000000;    
}
.common-btn{
    padding: 10px 20px;
    border-radius: 7px;
    background-color: #1D4ED8;
    border: none;
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
}
.common-btn:hover{
    color: #020202;
    cursor: pointer;
} 

/* hero section */

.hero-section{
    height: 650px;
    width: 100%;
    color:#ffffff;
    background-image: url('./assets/banner.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content:space-between ;
    align-items: center;
   
}   

.hero-text{
    text-align: center;
    margin-top: 100px;
    width: 60%;
}
.hero-text h1{
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
}
.hero-text h5{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
}
.hero-btn{
    margin-bottom: 60px;
    padding: 20px 55px;
    font-size: 19px;
}